{
    "mcpServers": {
        "Analysis": {
            "command": "python",
            "args": [
                "tools/Analysis.py",
                "--temp_dir",
                "tmp/tmp/out"
            ]
        },
        "Index": {
            "command": "python",
            "args": [
                "tools/Index.py",
                "--temp_dir",
                "tmp/tmp/out"
            ]
        },
        "Inversion": {
            "command": "python",
            "args": [
                "tools/Inversion.py",
                "--temp_dir",
                "tmp/tmp/out"
            ]
        },
        "Perception": {
            "command": "python",
            "args": [
                "tools/Perception.py",
                "--temp_dir",
                "tmp/tmp/out"
            ]
        },
        "Statistics": {
            "command": "python",
            "args": [
                "tools/Statistics.py",
                "--temp_dir",
                "tmp/tmp/out"
            ]
        }
    },
    "models": [
        {
            "config_name": "gpt-5",
            "model_type": "openai_chat",
            "model_name": "gpt-5",
            "api_key": "${OPENAI_API_KEY}",
            "client_args": {
                "base_url": "${OPENAI_BASE_URL}"
            },
            "generate_args": {}
        }
    ]
}
